{
  "mode": "server",
  "network": "192.0.2.10:23086",
  "key_file": "/etc/link42/middleware/punt/example.key",
  "status_socket": "/run/link42-punt/example.sock",
  "relay": {
    "protocol": "tcp",
    "listen_side": "client",
    "target": "127.0.0.1:80",
    "tcp_nocwnd": false,
    "idle_timeout": "5m"
  },
  "keepalive": "5s",
  "dead_timeout": "15s",
  "max_payload": 1400,
  "max_pps": 10000,
  "max_mbps": 100,
  "carrier": {
    "client_to_server": "icmp",
    "server_to_client": "icmp"
  }
}
